<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<body>
  <div>
    <h2 style="text-align: center">Login area for admin of ATU Manchester United Supporters Club.</h2>
    <p style="text-align:center;"><img src="images/standard.png" alt="Logo" width="300" height="300" ></p>
  </div>
  <div class="login-form">

    <form id="login" method="POST" action='/login'>
      <input type="text" name="username" placeholder="Username" id="username" required>
      <input type="password" name="password" placeholder="Password" id="password" required>
      <button type="submit" >Login</button>
    </form>
    
  </div>
</body>
<script>

</script>

</html>