<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<div class="login-form">

  <h2>Login to your members area.</h2>
  
  <form>
    <input class="input" type="text" name="username" placeholder="Username" id="username" required>
    <input class="input" type="password" name="password" placeholder="Password" id="password" required>
    <button type="submit" class="button is-success">
      Login
    </button>
  </form>
  
</div>


</html>